:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.logo {
  color: var(--accent-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.site-nav .link {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

.contact .link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
}
.contact .link:hover,
.contact .link:focus {
  color: var(--accent-color);
}

.button-page {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}

.button-page:hover,
.button-page:focus {
  color: var(--accent-color);
  background-color: var(--primary-bg-color);
}
.hero-title {
  color: var(--primary-text-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
}

.section-title {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.title-big {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.title {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.name {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.profession {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
}

.portfolio-text {
  color: var(--primary-bg-color);
}
.portfolio-title {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
}
.portfolio-section-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.contact {
  color: var(--title-text-color);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
}

/* портфолио */
.portfolio .button {
  color: var(--primary-text-color);
  background-color: #f5f4fa;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}
.button:hover,
.button:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
}
